@import "vars";

@keyframes slideInFromBottom {
  0% {
    opacity: 0%;
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes contentSlideInFromBottom {
  0% {
    opacity: 0%;
    transform: translateY(5%);
    width: 68vw;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    width: 70vw;
  }
}

.pageTitle {
  font-size: 3rem;
  border-bottom: darkturquoise 10px solid;
  margin-bottom: 2vh;
  background-color: #282c34;
  color: @AccentColor3;
  border-radius: 80%;
  padding: 2%;
  font-weight: 700;
  animation: ease-in 0.5s 1 slideInFromBottom;
}

@keyframes changeLetter {
  0% {
  }

  100% {
  }
}

.entryItem {
  h3 {
    font-family: monospace;
    font-size: 3rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }

  color: @AccentColor3;
  max-height: 68vh;
  background-color: hsla(181, 71%, 23%, 0.4);
  width: 70vw;
  min-height: 20vh;
  border: @AccentColor2 solid 2px;
  margin-bottom: 8vh;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: 1s ease-in contentSlideInFromBottom;
  position: relative;
  overflow: hidden;
  position: relative;
  transition: background-color 0.75s;
  &::before {
    background-color: @AccentColor3;
    content: ".";
    color: transparent;

    transition: width 2s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 1%;
    overflow-y: hidden;
  }
  &::after {
    background-color: @AccentColor3;
    content: ".";
    color: transparent;

    transition: width 1s;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 1%;
    overflow-y: hidden;
  }
  &:hover {
    background-color: hsla(181, 71%, 23%, 0.85);

    &::before {
      width: 45%;
    }
    &::after {
      width: 85%;
      // background-color: blue;
    }
  }

  p {
    background-color: hsla(181, 100%, 11%, 0.7);
    min-height: 200px;
    padding: 1.5%;
    margin: 2%;
    border-radius: 8.5%;
    line-height: 2.5rem;
    border: #2c3531 solid 2px;
    animation: 3s ease-in paragraphSize;
    overflow: hidden;
    overflow-y: auto;
    max-height: 35%;
    position: relative;
  }
}

.entryImg {
  width: 60%;
}

.doubleContainer {
  display: flex;
}

.singleContainer {
  margin-bottom: 1%;
  max-width: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 80%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @SecondaryColor;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @BGcolor;
}
/* SCROLLBAR CODE END */
