@import "styles";
@import "vars";

.App-header {
  position: fixed;

  a {
    color: @AccentColor3;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    transition: all 0.25s;

    &::after {
      bottom: -2px;
      left: 0;
      content: "";
      position: absolute;
      width: 0%;
      transform: translateX(0);
      display: flex;
      justify-content: center;
      border-bottom: @AccentColor1 2px solid;
      transition: width ease-in 0.2s;
    }

    &:hover {
      color: @AccentColor1;

      &::after {
        width: 100%;
      }
    }
  }

  .activeNavlink {
    color: aqua;

    &::after {
      width: 100%;
    }
  }

  background-color: @HeaderColor;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffcb95;
  border-bottom: 4px solid @AccentColor2;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-bottom: 10px;
  max-height: 6.5vh;

  div {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  padding-bottom: 10px;
  // min-height: 30px;
}
