.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  min-height: 100vh;
}
.pageContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10vh;
  position: relative;
  border-style: 20px solid white;
}
.bgImgContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
@keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.BgImg {
  position: fixed;
  animation: ease-in 3s 1 fadeInImg;
  animation-delay: -1.5s;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  bottom: 0;
  z-index: -100;
  margin: 0;
  background: linear-gradient(to bottom, rgba(35, 50, 66, 0.75) 5%, rgba(27, 67, 95, 0.75) 115%), url("../images/morrorock2.jpg");
  background-size: cover;
}
.nameTitle {
  position: absolute;
  left: 20px;
  bottom: 5px;
  border-bottom: solid black 2px;
  z-index: 0;
  color: white;
  font-size: 1rem;
  opacity: 0.2;
  max-height: 1rem;
  width: auto;
  padding-bottom: 5px;
}
.buttonsContainer {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5vh;
}
@keyframes changeContent {
  0% {
    content: "Email";
    opacity: 1;
  }
  2.5% {
    opacity: 0;
  }
  10% {
    content: "autumnal.zoe@gmail.com";
  }
  15% {
    opacity: 1;
  }
  100% {
    content: "autumnal.zoe@gmail.com";
  }
}
.entryItem .buttonHolder {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.email {
  content: "yes";
}
.email:after {
  content: "Email";
  position: absolute;
  bottom: 25%;
}
.email:hover:after {
  animation: changeContent ease 6s;
  animation-fill-mode: forwards;
}
@keyframes copiedAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.copiedNotif {
  position: absolute;
  top: 20%;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.copiedNotifHidden {
  position: absolute;
  top: 20%;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
html {
  background-color: #161925;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.workLink {
  color: white;
  font-weight: bold;
}
.workLink:hover {
  color: turquoise;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.App-header {
  background-color: #161925;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  color: #ffcb95;
  border-bottom: 2px solid #d1e8e2;
  position: fixed;
  z-index: 10;
  width: 100%;
  max-height: 6.5vh;
  padding-bottom: 10px;
}
.App-header a {
  color: #cbf7ed;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  transition: all 0.25s;
}
.App-header a::after {
  bottom: -2px;
  left: 0;
  content: "";
  position: absolute;
  width: 0%;
  transform: translateX(0);
  display: flex;
  justify-content: center;
  border-bottom: #cf8119 2px solid;
  transition: width ease-in 0.2s;
}
.App-header a:hover {
  color: #5fbcff;
}
.App-header a:hover::after {
  width: 100%;
}
.App-header .activeNavlink {
  color: #5fbcff;
}
.App-header .activeNavlink::after {
  width: 100%;
}
.App-header div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes contentSlideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pageTitle {
  font-size: 3rem;
  border-bottom: #5fbcff 10px solid;
  margin-bottom: 2vh;
  background-color: #282c34;
  color: white;
  border-radius: 80%;
  padding: 2%;
  font-weight: 700;
  animation: ease-in 0.5s 1 slideInFromBottom;
}
.contentContainer:hover ~ .pageTitle {
  color: black;
}
.entryItem {
  display: flex;
  flex-flow: column;
  min-width: 300px;
  color: white;
  background-color: hsla(211.2, 33.78378378%, 70.98039216%, 0.2);
  width: 70vw;
  min-height: 20vh;
  border: #1b435f solid 2px;
  margin-bottom: 8vh;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: 1s ease-in contentSlideInFromBottom;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}
.entryItem p {
  color: #23395b;
}
.entryItem a {
  color: aqua;
}
.entryItem a:hover {
  color: #9cb4ce;
}
.entryItem h3 {
  font-family: monospace;
  font-size: 2rem;
  margin: 3vh 20%;
  background-color: hsla(216.42857143, 44.44444444%, 24.70588235%, 0.9);
  transition: all 1s;
  width: fit-content;
  align-self: center;
  padding: 5px;
  border-radius: 10px;
  max-height: 25vh;
  overflow: hidden;
  color: white;
  padding: 10px 15px 10px 15px;
}
.entryItem::before,
.entryItem::after {
  background-color: #9cb4ce;
  content: ".";
  color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 0.5vh;
  overflow-y: hidden;
}
.entryItem::before {
  transition: width 2s;
  top: 10px;
}
.entryItem::after {
  transition: width, ease-in-out 1s;
  bottom: 10px;
}
.entryItem:hover {
  background-color: hsla(211.2, 33.78378378%, 70.98039216%, 0.5);
}
.entryItem:hover .entryImg {
  opacity: 1;
}
.entryItem:hover::before {
  width: 45%;
}
.entryItem:hover::after {
  width: 85%;
}
.entryItem .descriptionContainer {
  background-color: hsla(216.42857143, 44.44444444%, 24.70588235%, 0.7);
  padding: 1.5%;
  margin: 2vh 1vw 4vh 1vw;
  border-radius: 10px;
  line-height: 1.75rem;
  border: #2c3531 solid 2px;
  animation: 3s ease-in paragraphSize;
  overflow: hidden;
  overflow-y: auto;
  max-height: 0;
  position: relative;
  align-items: center;
  max-height: 30vh;
}
.entryItem .descriptionContainer .about {
  font-size: 1.3rem;
  max-height: 30vh;
  line-height: 2rem;
}
.entryItem .descriptionContainer p {
  margin-block-end: 0px;
  font-size: 1.2rem;
  color: white;
}
.entryItem p {
  margin-top: 0;
}
.imgMain a::after {
  content: "";
}
.imgMain a:hover::after {
  width: 0%;
}
.imgMain .entryImg {
  min-height: 10vh;
  max-width: 60vw;
  max-height: 30vh;
  opacity: 1;
  transition-property: opacity, max-height, width;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.singleContainer .entryImg {
  max-width: 60vw;
  max-height: 25vh;
  object-fit: cover;
}
.doubleContainer {
  display: flex;
}
.singleContainer {
  margin-bottom: 1%;
  /* max-width: 50%; */
  display: flex;
  flex-flow: column;
  align-items: center;
  place-self: flex-end;
  max-height: 50vh;
  margin: auto;
}
.singleContainer .descriptionContainer {
  max-height: 30vh;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 80%;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #233242;
  height: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cf8119;
}
/* SCROLLBAR CODE END */
footer {
  background-color: black;
  height: 20vh;
}
